.groups
  %a{:href => ""}
    .group
      %p.group__group-name
        text group2
      %p.group__latest-message
        まだメッセージがありません
  %a{:href => ""}
    .group
      %p.group__group-name
        test group1
      %p.group__latest-message
        test2
