.messages
  .message{"data-message_id" => ""}
    .message__upper-info
      %p.message__upper-info__talker
        user1
      %p.message__upper-info__date
        2019/05/24(Fri) 17:07:02
    %p.message__text
      text1
  .message{"data-message_id" => ""}
    .message__upper-info
      %p.message__upper-info__talker
        user2
      %p.message__upper-info__date
        2019/05/26(Sun) 11:59:19
    %p.message__text
      text2
